{% extends 'busca/resul_planta.html' %}

{% block nome %}
	<p style="font-size:20px; color:green;">Contato</p>	
{% endblock %}

{%block contato%}
<div id="pagina_conteudo">

	<form method="POST">	
		{% csrf_token %}
		{% for campo in contato_form %}
			<div class="fieldWrapper">
				{% if campo.errors%}
					<div style="width:170px; height:20px; list-style:none;font-size:11.5px;" class="notice error">{{ campo.errors }}</div>		
				{% endif %}	
				{{ campo.label_tag }}:</br>
				{{ campo }}
			</div>
		{% endfor %}
		<button type="submit" style="margin-top:10px;">Enviar</button>	
	</form>
	
</div>
{%endblock%}
