{% extends 'base_busca.html' %}

{% block corpo %}
    <p>Sequências relacionadas a <b>{{ busca }}</b>:</p>
    <ul>
        {% for item in resultado.object_list %}
            <li><a href="/sequencias/{{ item.planta_id }}/{{ item.id }}">{{ item.titulo }}</a></li>
        {% empty %}
            <p style="position:relative; left:-40px;"><b>Nenhuma sequência encontrada.</b></p>
        {% endfor %}
    </ul>

<div class="paginacao">
    <span class="links-pagina">
        {% if resultado.has_previous %}
            <a href="?pagina={{ resultado.previous_page_number }}">Anterior</a>
        {% endif %}

        <span class="pagina-atual">
            Página {{ resultado.number }} de {{ resultado.paginator.num_pages }}
        </span>

        {% if resultado.has_next %}
            <a href="?pagina={{ resultado.next_page_number }}">Próxima</a>
        {% endif %}
    </span>
</div> 
{% endblock %}
